<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<span><i class="fa fa-bars"></i>
				sections</span>
			</li>
			<li id="search-modal-btn">
				<span><i class="fa fa-search"></i>
				search</span>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
		<ul>
			<li id="subscribe-btn">
        <button type="button">subscribe now</button>
			</li>
			<li id="login-btn">
        <button type="button">log in</button>
			</li>
      <li id="gear-icon">
        <span><i class="fas fa-cog"></i></span>
      </li>
		</ul>
	</nav></header>