<div class="masthead">

  
  <nav class="language-nav">
    <ul>
      <a>CSS</a> 
      <a>HTML</a> 
      <a>Javascript</a>
      <a>Ruby</a>
    </ul>
  </nav>
  

<img class ="logo" src="assets/AA_Times_Logo.png" alt="AATimes logo">

<nav class="masthead-links">
  <ul>
  
  <li><time>Tuesday, October 18, 2016</time></li>
  <li><button type="button">Today’s Paper</button></li>
  <li><button type="button">Video</button></li>
  <li><a>77°F</a></li>
  <li><a>AAO <strong>+100%</strong></a></li>
</ul>
</nav>

</div>

